      /* Center the login window on the page */
      .login-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(240, 240, 240);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        width: 18em;
        background-image: url("https://test.neolation.com/ilas/images/business-card-mdm.png");
        border-radius: 25px;
        z-index: 20;
      }
      .login-window h2 {
        margin-top: 0;
      }
      .login-window label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
        color: white;
        position: relative;
      }
      .login-window input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.25);
        color: white;
     }
      .login-window input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      .form-input {
        display: inline-block;
        width: 100%;
      }
      .form-input h4 {
        color: white;
      }
     .button-login {
        z-index: 4;
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: rgba(45, 30, 100, 1);
        color: #fff;
        text-decoration: none;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        font-weight: bold;
      }
      .exitx {
        float: right;
        color: white;
      }
     .input-container {
       position: relative;
       left: 0;
       width: 100%;
       height: 30px;
     }
     .input-box {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
      }
      .helper-box {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
        transition: opacity 0.5s ease-in-out;
        opacity: 0.75;
        width: 100%;
        color: black;
      }
      .helper-box.faded {
        opacity: 0;
        pointer-events: none;
      }
      #wrapper {
        height: 100vh;
        z-index: 4;
      }
      .Dialogue {
        margin: 0
        padding: 0
      }
      .softener {
        background-color: rgba(0,0,0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
        border-radius: 25px;
      }